.header-container {
    background-color: #fff;
    margin: 2vh 0 2vh 0;
    min-height: 2vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper h1 {
    font-size: 24px;
    margin: auto;
}

.wrapper p {
    margin: auto;
}
